<div class="frame">
  <div class="head">
    <h1>Browse server response times</h1>
  </div>
  <div class="content" id="times_table">
    <%= render :partial => "times_table" %>
  </div>
</div>

<script type="text/javascript">
    function refreshLogs() {$("#times_table > *").css("opacity", 0.5);$.get("<%= testing_server_response_times_path(:format => :js) %>");}
    setInterval ( "refreshLogs()", 7000 );    
</script>



